[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment=Programmers Social Network
GenericName=Tricks Official
Icon=tricks
Name=Tricks Official
StartupNotify=true
Type=Application
Version=1.0
