[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment=Programmers Social Network
Exec=tricks
GenericName=Tricks
Icon=tricks
Name=tricks
StartupNotify=true
Type=Application
MimeType=application/x-xdg-protocol-tg;x-scheme-handler/tg;
Version=1.0
